<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bloguen</title>
    <style>

    .container{

    }
    body{

    }

    .profile_box{

    }
    </style>
</head>
<body>
    <div class ="container">

        <div class="profile_box"> </div>
        <div class = "col"> </div>

        <!-- user input name -->
        <!-- age -->
        <!-- location -->
        <!-- favorite dinosaur -->
        <!-- vax status -->
      
        <form action="{ url 'blogapp:create' %}" method="POST" id="Blog">
            {% csrf_token %}
           
                
            <div class='box'>
                
                <div class="title"> <h1> New Post</h1></div>
                <input type="text" class="form-control" name="title">
                    
                    <button input type="submit" class="btn">Submit</button>
                </div>
            </div>
        </form>
    <!-- end container -->
    </div>
</body>
</html> 