{% extends 'user_system/base.html' %}
{% block content %}
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bloguen</title>
    <style>


    </style>
</head>

<div class="basepannel">

    
    
    
    <!-- <div class="display"> -->




        <div class="pinkring">
            <div> {% for post in posts %}
                <div  class ="pinkring">
                    <h2>{{ post.title }}</h2>
                    <div class="pinkring">
                        <p>{{ post.rant }}</p>

                    </div>
                    <p>By {{ post.author}} on {{post.date_posted}}</p>
                </div>
                {% endfor %}
            </div>



        </div>


        <div class="col">

            <div class="panel">




                <div class="pinkring">
                    <form action="{% url 'blogapp:create' %}" method="POST" id="Blog">
                        {% csrf_token %}


                        <h1>Go Off</h1>
                        <div class="box"><input type=text maxlength="80" class="form-control" name="title"
                                label="blarg">
                        </div>
                        <div class="box"> <textarea id="rantbox" maxlength="500" class="form-control"
                                name="rant"></textarea>
                        </div>
                        <div class="box"><button input type="submit" class="btn">Submit</button></div>



                    </form>


                </div>

            </div>
            <!-- end container -->
        </div>
    </div>
</div>
{% endblock %}

</html>