<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unit Converter</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <header>
                <h1>Unit Converter</h1>
            </header>
            <!-- beginning of form -->
            <form class="col s12" action="" method="POST">
                <!-- text input -->
                <div class="row">
                    <div class="input-field col s12 m4">
                        <input id="distance" name="distance" type="text" class="validate">
                        <label for="distance">Distance: </label>
                    </div>
                    <div class="input-field col s12 m4">
                        <input id="start_unit" name="start_unit" type="text" class="validate">
                        <label for="start_unit">Starting unit of measurement: </label>
                    </div>
                    <div class="input-field col s12 m4">
                        <input id="end_unit" name="end_unit" type="text" class="validate">
                        <label for="end_unit">Unit converting to: </label>
                    </div>
                </div> 
                <div class="row">
                    <div class="col s4">
                        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            </form>
            <div><h2>{{message}}</h2></div>
        </div>
    </div>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>