<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unit Converter</title>
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Open+Sans&display=swap" rel="stylesheet">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <style>
        body {
            background-color: grey;
        }
        h1 {
            font-family: 'Bungee Inline', cursive;
        }

        h2 {
            font-family: 'Open Sans', sans-serif;
        }
    </style>
</head>

<body>
    <div class="container z-depth-4">
        <div class="row teal lighten-2">
            <header>
                <h1 class="center-align">Unit Converter</h1>
            </header>
            <!-- beginning of form -->
            <form class="col s12" action="" method="POST">
                <div class="card-panel">
                    <!-- text input -->
                    <div class="row">
                        <div class="input-field col s12 m4">
                            <input id="distance" name="distance" type="number" class="validate" required>
                            <label for="distance">Distance: </label>
                        </div>
                        <!-- Start Unit Selector -->
                        <div class="input-field col s12 m4">
                            <select id="start_unit" name="start_unit">
                                <option value="" disabled selected>Select a unit: </option>
                                <option value="in">inches</option>
                                <option value="ft">feet</option>
                                <option value="yd">yards</option>
                                <option value="m">meters</option>
                                <option value="mi">miles</option>
                                <option value="km">kilometers</option>
                            </select>
                            <label for="start_unit">Starting Unit</label>
                        </div>
                        <!-- End Unit Selector -->
                        <div class="input-field col s12 m4">
                            <select id="end_unit" name="end_unit">
                                <option value="" disabled selected>Select a unit: </option>
                                <option value="in">inches</option>
                                <option value="ft">feet</option>
                                <option value="yd">yards</option>
                                <option value="m">meters</option>
                                <option value="mi">miles</option>
                                <option value="km">kilometers</option>
                            </select>
                            <label for="end_unit">End Unit</label>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Submit Button -->
                        <div class="col s12 center-align">
                            <button class="btn waves-effect waves-light z-depth-2" type="submit" name="action">Submit
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="col s12">
                <p class="center-align flow-text"><b>{{message}}</b></p>
            </div>
        </div>
    </div>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('select');
            var instances = M.FormSelect.init(elems, {});
        });
    </script>
</body>

</html>