<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Button Madness</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

</head>

<body>
    <div id="app" class="container">
        <div class="row">
            <button  v-bind:disabled="offButton[i-1]" v-on:click="guess(i)" class="btn" v-for="i in parseInt(highEnd)">
                {{i}} </button>
        </div>
        <input v-bind:disabled="gameStarted" v-on:change="update" v-model="highEnd" label="How many buttons"
            type="number" min="2" />
        <!-- display 'message' from the 'data' part of the app in the page -->

        <button v-on:click="startGame" v-bind:disabled="gameStarted" class="btn"> Start Game</button>


        <!-- allow the user to set the value of the input -->

        <!-- handle a click event of a button - calls the method sayHello -->
        {{message}}

        <div class="row">{{ randomNumber}}</div>

    </div>
    <script>
        let app = new Vue({

            el: '#app',

            data: {

                randomNumber: Math.floor(1 + Math.random() * 10),
                clicks: "",
                message: "Guess the Number!",
                highEnd: 10,
                wrongclicks: [],
                offButton:[],
                gameStarted: false,
            },
            // app methods
            // can be called from events in the page: v-on:click="method"
            // can be called from other methods: this.method()
            // can be called from outside the app: app.method()
            methods: {


                guess: function (i) {
                    console.log(i)

                    if (i === this.randomNumber) {
                        ++this.clicks
                        this.message = "Correct! you guessed the number in " + this.clicks + " clicks"

                        this.clicks = 0
                        this.randomNumber = Math.floor(1 + Math.random() * (this.highEnd))
                        this.gameStarted = false
                    }
                    else {
                        ++this.clicks
                        console.log(this.clicks)
                        this.message = ("Thats wrong  guess number " + this.clicks)
                        this.wrongclicks.push(i)
                        console.log(this.wrongclicks)
                        this.offButton[i-1] = true
                    }



                },

                update: function () {

                    this.randomNumber = Math.floor(1 + Math.random() * (this.highEnd))


                },
                startGame: function () {

                    this.gameStarted = true
                    for (let i=0; i<this.highEnd; i++){
                        this.offButton.push(false)
                    }
                    console.log(this.offButton)

                    
                },

                // hold: function(){

                // for(let i =0 <this.highEnd; i++){

                //         for (let j=0 <this.wrongclicks: j++){
                //             if (wrongclicks[j] === highEnd(i)){  
                //                 this.hold = true   
                //         }

                //     }
                // }

                // },




                // created - a lifecycle hook
                // called when the app is created
                // useful for setting up app data
                created: function () {
                    console.log(this.message)
                }
            }
        })
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>