{% extends 'blog/base.html' %}

{% block link %}
<li><a href="{% url 'users:profile' %}">Profile</a></li>
<li><a href="{% url 'users:login' %}">Login</a></li>
{% endblock %}

{% block title %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="center">
            <h3>{{ blog_entry.title }}</h3>
            <h5>by {{ blog_entry.user }}</h5>
            <p>{{ blog_entry.date_created }}</p>
        </div>
        <img class="center" src="https://random.imagecdn.app/500/300">
        <p class="flow-text">{{ blog_entry.body }}</p>
    </div>
</div>
{% endblock %}