{% extends 'blog/base.html' %}
{% load static %}



{% block title %} * A blog about music thats not for everyone.{% endblock %}


{% block content %}


{% for post in posts %}
<div class="each_post">
    
    <h2>{{ post.title }}</h2>
    <p>{{ post.post }}</p>

    
    {% if post.url != '' %}
    <!-- <iframe class="youtube-player" type="text/html" width="' + {{ 720px }} + '" height="' + {{ 450px }} + '" src="https://www.youtube.com/embed/m32Z-htDAok" allowfullscreen frameborder="1"></iframe> -->
    <p><iframe width="560" height="315" src="{{ post.url }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
    <!-- <p>{{ post.url }}</p> -->
    {% endif %}
    
    <div class="user-info">
        <img class="profile_img" src="{{ post.user.profile.profile_pic.url }}" alt="">   
        <p>By {{ post.user}} on {{post.date_created}}</p>
    </div>
    

</div>
{% endfor %}



{% endblock %}