
{% extends 'contactsapp/base.html' %}


{% block title %}Contacts App Forms{% endblock %}

{% block content %}

<form action="{% url 'contactsappforms:edit_save' contact.id %}" method="post" class="container">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn" type="submit">Save</button>
</form>

<style>
    input[type="checkbox"] {
        opacity: 1 !important;
        position: relative !important;
        pointer-events:auto !important;
        margin-left: 4px;
    }
</style>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems, {});
    });

</script>
{% endblock %}

