<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hello world!</title>
    <!-- Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <!-- Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
</head>

<body>
    <div class="container">
        <form action="" method="post" class="row">
            <div class="input-field col s6">
                <input id="search_term" name="search_term" type="text" class="validate" />
                <label for="search_term">Search Term</label>
            </div>
            <div class="input-field col s4">
                <input id="search_page" name="search_page" type="number" class="validate" />
                <label for="search_page">Page</label>
            </div>
            <div class="input-field col s2">
                <button type="submit" class="btn">Search</button>
            </div>
        </form>
        <div class="row">
            <div class="col s12 m7">
                <div class="card">
                    <div class="card-image">
                        <img src="https://loremflickr.com/500/500" />
                        <span class="card-title">Card Title</span>
                    </div>
                    <div class="card-content">
                        <p>
                            I am a very simple card. I am good at containing small bits of
                            information. I am convenient because I require little markup to
                            use effectively.
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="#">This is a link</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Materialize JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>