<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

</head>

<body>
    <h1>Encodeth Thy Text</h1>

    <form action="" method="post">

        <div class="input-field col s6">
            <input id="uncoded_text" type="text" class="validate" name="uncoded_text">
            <label for="uncoded_text">Enter Text</label>
        </div>

        <input class="btn" type="submit" value="encode">


    </form>

    <div>
        Your encoded word is: {{code_word}}
    </div>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>