{% extends 'user_system/base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>





    <div class="basepannel">
        

        <!-- <div class="panel"> -->

            <div class="display">
            <form action="{% url 'user_system:login'%}" method="POST" id="Login-Form">
                {% csrf_token %}

                    <div>
                        <h1> Get in there!</h1>
                    </div>
                    <div class='box'>

                        <label for="username">User Name </label>
                        <input id="username" name="username" type="text">
                    </div>
                    <div class="box">
                        <label for="password">Password </label>
                        <input id="password" name="password" type="text">
                    </div>
                    <button input type="submit" class="btn">Submit</button>
            </form>
        <!-- </div> -->
    </div>
    <div class="footer">
        <div class="panel"> Wanna get in on this? <a href="{%url 'user_system:register'%}">Register here!</a> </div>
</div>


</html>
{% endblock %}
{%block foot%}
{% endblock %}