<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vue Unit Converter</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

</head>

<body>
    <div id="app" class="container">
        <div class="row">
            <div>
                <h1>{{ message }}</h1>
            </div>
            <div class="input-field">
                <select v-model="input_start_unit" class="browser-default">
                    <option v-for="unit in units" value="{{unit}}">{{unit}}</option>
                </select>
            </div>
        </div>

    </div>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- vue.js cdn -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                message : 'Hello Vue!',
                units : {
                    inches: .0254,
                    feet: .3048,
                    yards: .9144,
                    meters: 1,
                    miles: 1609.34,
                    kilometers: 1000,
                },

                }
            },
            methods: {

            },
            created: function () {

            }
        })
    </script>
</body>

</html>