<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- bootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <!-- vue.js cdn -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <!-- bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Monofett&display=swap" rel="stylesheet">
    <style>
        body {
            background-color: black;
        }

        .container {
            padding-top: 30px;
            background-color: black;
        }

        h1 {
            font-family: 'Monofett', cursive;
            text-align: center;
            font-size: 72px;
            background: -webkit-linear-gradient(#FF9952, #FF6BCA);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .tables {
            border-radius: 5px;
        }

        table {
            border-radius: 5px;
        }

        button {
            border-radius: 20px;
        }

        .table>:not(caption)>*>* {
            border-bottom-width: 0;
        }
        
    </style>
</head>

<body>
    <div id="app" class="container">
        <div class="row">
            <h1>Todo-List</h1>
        </div>
        <div class="input-group mb-3">
            <input v-model="inputTodoText" type="text" class="form-control" placeholder="Enter a Todo-Item"
                aria-label="Enter a Todo-Item" aria-describedby="button-addon2">
            <!-- add button -->
            <button v-on:click="addTodo" class="btn btn-outline-primary" type="button" id="button-addon2"><i
                    class="bi bi-plus-lg"></i></button>
        </div>
        <div class="tables">
            <table class="table table-striped table-hover">
                <tbody>
                    <tr v-for="(todo, index) in todoList" v-if="!todo.completed">
                        <td class="col-md-10 col-sm-9">{{ todo.text }}</td>
                        <td class="col-md-2 col-sm-3">
                            <div class="input-group">
                                <!-- complete todo button -->
                                <button v-on:click="completeTodo(index)" class="btn btn-outline-success"
                                    type="button"><i class="bi bi-check-lg"></i></button>
                                <!-- delete todo button -->
                                <button v-on:click="deleteTodo(index)" class="btn btn-outline-danger" type="button"><i
                                        class="bi bi-x-lg"></i></button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-striped table-hover">
                <tbody>
                    <tr v-for="(todo, index) in todoList" v-if="todo.completed">
                        <td class="col-md-10 col-sm-9"><s>{{ todo.text }}</s></td>
                        <td class="col-md-2 col-sm-3">
                            <div class="input-group">
                                <!-- undo completed todo button -->
                                <button v-on:click="completeTodo(index)" class="btn btn-outline-warning"
                                    type="button"><i class="bi bi-arrow-counterclockwise"></i></button>
                                <!-- delete completed todo button -->
                                <button v-on:click="deleteTodo(index)" class="btn btn-outline-danger" type="button"><i
                                        class="bi bi-x-lg"></i></button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                todoList: [{
                    text: 'add color',
                    completed: false
                }, {
                    text: 'choose font for title',
                    completed: false
                }, {
                    text: 'give table a border',
                    completed: false
                }, {
                    text: 'test delete button',
                    completed: true
                }, {
                    text: 'undo a completed todo',
                    completed: true
                }, {
                    text: 'put a line through completed todos',
                    completed: true
                }
                ],
            },
            methods: {
                addTodo: function () {
                    var todo = {
                        text: this.inputTodoText,
                        completed: false
                    }
                    this.todoList.push(todo)
                    this.inputTodoText = ''


                },
                completeTodo: function (index) {
                    if (this.todoList[index].completed === false) {
                        this.todoList[index].completed = true
                    } else {
                        this.todoList[index].completed = false
                    }
                },
                deleteTodo: function (index) {
                    this.todoList.splice(index, 1)
                },

            },
            created: function () {
            }
        })
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
</body>

</html>