<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rot13 Cypher</title>
</head>
<body>
    <header>
        Rot Cipher
    </header>

    <form action="" method="POST">
        <input type="text" name='input_text' placeholder="Beginning Word">
        <input type="text" name='input_rot' placeholder="Rotation Amount">
        <button type="submit">Get your rotated word</button>
    </form>
    <div>Your ciphered word is: {{message}}</div>

</body>
</html>