<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Hello world!</title>
        <!-- Icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Materialize CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        
    </head>

    <body>

        <div class="container">

            <div id="app">
                <h1>{{ message }}</h1>
                <!-- {{ create_item }}
                {{ create_priority }} -->
                {{ create_todo }}
               
                <p>{{ item }}</p>

                <div class="input-field col s6">
                    <input id="item_description" v-model="create_todo.item" type="text" class="validate">
                    <label for="item_description">Item description</label>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <select v-model="create_todo.priority">
                        <option value="" disabled selected></option>
                        <option value="High">High</option>
                        <option value="Medium">Medium</option>
                        <option value="Low">Low</option>
                        </select>
                        <label>Priority</label>
                    </div>

                    <div class="input-field col s12">
                        <select v-model="create_todo.category" type="text">
                        <option value="" disabled selected></option>
                        <option value="Home">Home</option>
                        <option value="Work">Work</option>
                        <option value="Play">Play</option>
                        </select>
                        <label>Category</label>
                    </div>

                </div>

                <div>
                    <button v-on:click="createTodo" class="btn">enter</button>
                </div>

                <div class="row">
                    <table>
                        <thead>
                            <tr>
                                <th>Item</th>
                                <th>Priority</th>
                                <th>Category</th>
                            </tr>
                          </thead>
                  
                          <tbody>
                            <tr v-for="todo in to_dos">
                              <td>{{ todo.item }}</td>
                              <td>{{ todo.priority }}</td>
                              <td>{{ todo.category }}</td>
                            </tr>
                          </tbody>
                    </table>

                </div>

                

            </div>
        </div>

        <!-- Materialize JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script>  document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('select');
            var instances = M.FormSelect.init(elems, {});
          });</script>

        <script>
            var app = new Vue({
                el: "#app",


                data: {
                    
                    to_dos: [

                    ],

                    message: "To do list",
                    item: '',
                    priority: '',
                    category: '',

                    create_item: [],
                    create_priority: [],

                    create_todo: {
                        item:'',
                        priority:'',
                        category:''

                    },
                },

                methods: {
                    
                    createTodo: function(){
                        this.to_dos.push(this.create_todo)
                        this.create_todo = {
                            item:'',
                            priority:'',
                            category:''
                        }
                    },


                },

                created: function() {
                    this.to_dos.push({
                        item:'Put new windshield wipers on car.',
                        priority:'Medium',
                        category:'Home'
                    })
                    this.to_dos.push({
                        item:'Take out recycling.',
                        priority:'High',
                        category:'Home'
                    })
                    this.to_dos.push({
                        item:'Learn Bootstrap good.',
                        priority:'Medium',
                        category:'Work'
                    })
                }

            
            })
        </script>


    </body>
</html>