{% extends 'blog_app/base.html' %}

{% load crispy_forms_tags %}




{% block title %}Profile{% endblock %}
{% block content %}


<div class="container mt-3">
    <div class="row">
        <form id="login" class="d-flex flex-column" action="{% url 'blog_app:edit_save' blogpost.id %}" method="post">
            {% csrf_token %}
            <div class="mx-5">
                <div>{{form.title|as_crispy_field}}</div>

            </div>
            <div class="mx-5">
                {{form.body|as_crispy_field}}
            </div>
            <div class="mx-5 d-flex justify-content-around align-items-end">
                <div>{{form.public|as_crispy_field}}</div>
                <button type="submit" class="btn bg-warning mt-3">Confirm</button>
            </div>
            
        </form>
    </div>
</div>



{%endblock%}