{% extends 'blog_app/base.html' %}


{% block title %}Home Page{% endblock %}
{% block content %}

<div class="container mt-3 align-items-center" id="login">
    {% if user.is_authenticated %}
    <div class="text-center">
        <h4>Welcome back, {{user.username}}</h4>
    </div>
    {% else %}
    <div class="row d-flex justify-content-center m-2">
        Welcome Back!
        <a href="{% url 'blog_app:login' %}" class="btn btn-danger">Login</a>
    </div>
    <div class="row d-flex justify-content-center m-2">
        New to our Community?
        <a href="{% url 'blog_app:register' %}" class="btn btn-danger">Register</a>
    </div>
    {%endif%}
</div>

{% for blogpost in blogposts %}
<div class="container mt-3">
    <div id="post" class="card">
        <h5 id="post_title" class="card-header text-center">{{blogpost.title}}</h5>
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <h6 class="card-title"><u>By {{blogpost.user}} on {{blogpost.date_created}}</u></h6>
                <a href="{% url 'blog_app:public' blogpost.user.id %}">View Profile</a>
            </div>
            
            <p class="card-text">{{blogpost.body}}</p>
            {% if blogpost.date_edited %}
            <div>
                <u>Edited on: {{blogpost.date_edited}}</u>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}




{%endblock%}