{% extends 'blog_app/base.html' %}


{% block title %}Profile{% endblock %}
{% block content %}

<style>
    #profile_heading {
        background-color: rgba(131, 215, 209, 0.819);
        border: solid;
        border-color: black;
        border-width: 4px;
        padding: 10px;
    }
</style>

<!-- User information -->
<div class="container mt-3">
    <div id="profile_heading" class="row align-items-center rounded-pill">
        <div class="col d-flex justify-content-center">
            <img id="prof_image" src="{{user.userprofile.profile_image.url}}" width="200">
        </div>

        <div class="col">
            <h3>
                Welcome, {{user.username}}
            </h3>
            <hr>
            <p>
                {{user.userprofile.bio}}
            </p>
        </div>
    </div>
</div>

<!-- form for creating a new post -->
<div class="container mt-3">
    <form action="{% url 'blog_app:create' %}" class="row" id="login" method="POST">
        {% csrf_token %}
        <div class="col">
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Title</span>
                <input type="text" class="form-control" name="title">
            </div>
        </div>
        <div class="col">
            <div>
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" name="public">
                <label class="form-check-label" for="flexCheckDefault">
                    Public
                </label>
            </div>
        </div>
        <div class="input-group">
            <span class="input-group-text">Body</span>
            <textarea class="form-control" aria-label="With textarea" name="body"></textarea>
        </div>
        <div class="d-flex justify-content-center pt-2">
            <button type="submit">Create Post!</button>
        </div>
    </form>
</div>>

<!-- All the blogposts by the user sorted by date created -->
{% for blogpost in blogposts %}

<div class="container mt-3">
    <div id="post" class="card">
        <h5 id="post_title" class="card-header text-center">{{blogpost.title}}</h5>
        <div class="card-body">
            <h6 class="card-title"><u>By: {{blogpost.user}} on {{blogpost.date_created}}</u></h6>
            <p class="card-text">{{blogpost.body}}</p>
            {% if blogpost.date_edited %}
            <div>
                <u>Edited on: {{blogpost.date_edited}}</u>
            </div>
            {% endif %}
            <div>
                <a href="{% url 'blog_app:edit' blogpost.id %}" class="btn bg-warning">Edit</a>
                <a href="{% url 'blog_app:delete' blogpost.id %}" class="btn bg-danger">Delete</a>
            </div>

        </div>
    </div>
</div>

{% endfor %}



{% endblock %}