{% extends 'blog_app/base.html' %}


{% block title %}Register{% endblock %}
{% block content %}

<h1>Register</h1>
<form action="{% url 'blog_app:register' %}" method="post" class="container">
    {% csrf_token %}
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon3">Username</span>
        <input type="text" class="form-control" name="username">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon3">E-Mail</span>
        <input type="text" class="form-control" name="email">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon3">Password</span>
        <input type="text" class="form-control" name="password">
    </div>
    <div class="d-flex justify-content-center">
        <button type="submit">One of us....</button>
    </div>
</form>

{% endblock %}