


{% extends 'contactsapp/base.html' %}
{% load static %}

{% block title %}Contact List{% endblock %}
{% block content %}
<style>
    table img {
        width: 80px;
    }
    @media only screen and (max-width: 992px) {
        .th_photo {
            padding-bottom: 80px;
        }
    }
</style>
<div class="container">
    
    <form action="{% url 'contactsapp:create' %}" method="post" class="row" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="input-field col l2 m4 s12">
            <input name="name" id="input_name" type="text" class="validate">
            <label for="input_name">Name</label>
        </div>
        <div class="col l2 m4 s12">
            <label for="input_profile_image">Profile Image</label>
            <input id="input_profile_image" type="file" name="profile_image" accept="image/*" required>
        </div>
        <div class="input-field col l2 m4 s12">
            <input name="email" id="input_email" type="email" class="validate">
            <label for="input_email">Email</label>
        </div>
        <div class="input-field col l2 m4 s12">
            <input name="birthday" id="input_birthday" type="text" class="datepicker">
            <label for="input_birthday">Birthday</label>
        </div>
        <!-- <div class="input-field col">
            <input name="birthday" id="input_birthday" type="date" class="validate">
            <label for="input_birthday">Birthday</label>
        </div> -->
        <div class="input-field col l2 m4 s12">
            <select name="city_id" required>
              <option value="" disabled selected>Choose City</option>
              {% for city in cities %}
              <option value="{{ city.id }}">{{ city.name }}</option>
              {% endfor %}
            </select>
            <label>City</label>
          </div>
        <div class="col l2 m4 s12">
            <label>
                <input name="organ_donor" type="checkbox"/>
                <span>Organ Donor</span>
            </label>
        </div>
        <div class="col l2 m4 s12">
            <button class="btn">Create Contact</button>
        </div>
    </form>
    <table class="responsive-table">
        <thead>
            <tr>
                <th class="th_photo">Photo</th>
                <th>Name</th>
                <th>City</th>
                <th>Email</th>
                <th>Birthday</th>
                <th>Organ Donor</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for contact in contacts %}
            <tr>
                {% if contact.profile_image %}
                <td><img src="{{ contact.profile_image.url }}"/></td>
                {% else %}
                <td><img src="{% static 'contactsapp/default_profile_photo.png' %}"/></td>
                {% endif %}
                <td>{{ contact.name }}</td>
                <td>{{ contact.city.name }}</td>
                <td>{{ contact.email }}</td>
                <td>{{ contact.birthday }}</td>
                {% if contact.organ_donor %}
                <td><i class="material-icons">check</i></td>
                {% else %}
                <td><i class="material-icons">close</i></td>
                {% endif %}
                <td><a class="btn indigo" href="{% url 'contactsapp:edit' contact.id %}">Edit</a></td>
                <td><a class="btn red" href="{% url 'contactsapp:delete' contact.id %}">Delete</a></td>

                {% comment %}
                <a href="{% url 'contactapp:home' %}">home</a>
                <!-- <td><i class="material-icons">{% if contact.organ_donor %}check{% else %}close{% endif %}</i></td> -->
                {% endcomment %}

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.datepicker');
        var instances = M.Datepicker.init(elems, {});
    });
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems, {});
    });
</script>
{% endblock %}