*{
    font-family: 'Noto Sans KR', sans-serif;
}
body{
 margin: 0px;   
}
header{
    border-bottom: medium solid red;
    background-color: maroon;
    margin-top: 0px;
    padding: 10px;
}
header > h1 {
    margin-left: 20px;
    text-shadow:
		-1px -1px 0 yellowgreen,
		1px -1px 0 yellowgreen,
		-1px 1px 0 yellowgreen,
		1px 1px 0 yellowgreen;
    color: green;
}
form{
    margin-left: 20px;
    margin-bottom: 10px;
}
footer{
    border-top: medium solid red;
    border-bottom: medium solid red;
    background-color: maroon;
    margin-bottom: 0px;
    padding: 20px;
    color: white;
    font-size: smaller;
}