:root{

    --basepanel: #2f2f4f;
    --bevelshaddow: #191970;
    --bevelhighlight: #d01ee0;
   

    --baselight: #3cb371;
    --lightwarm: #7cfc00;
    --lightreflect: #7fffd4;
    --otherpink: #d4568b;
    --button:#b8869b;
    --chillerblue:#a4cadb;
}