<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Google Font -->

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <style>
        .nav-wrapper {
            font-family: 'Roboto Condensed', sans-serif;
        }

        tr {
            border-bottom: 0;
        }

        .completed_td {
            color: grey;
            text-decoration: line-through;
        }

        .tr_headers {
            font-size: larger;
            font-weight: bold;
        }

        .todo_table {
            width: 100%;
        }

        .table_buttons {
            text-align: right;
        }

        .th_actions {
            text-align: right;
        }

        .add_task {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
        }
        
        .row .col {
            padding: 3px;
        }
    </style>

</head>

<body>
    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo center">{{ title }}</a>
            </div>
        </nav>
    </header>

    <main class="container">
        <div class="row">
            <table class="todo_table highlight">
                <thead>
                    <tr class="tr_headers">
                        <th>Tasks:</th>
                        <th class="th_actions">Actions:</th>
                    </tr>
                </thead>
                <tbody>
                    {% for todo_item in todo_items %}
                    <tr>
                        {% if todo_item.completed_date == null %}
                        <td class="todo_td">{{ todo_item.text }}</td>
                        <td class="table_buttons">
                            <a class="waves-effect waves-light btn" href="{% url 'todoapp:complete' todo_item.id %}"
                                type="submit">
                                <i class="material-icons">check</i></a>
                            <a class="waves-effect waves-light btn red lighten-1"
                                href="{% url 'todoapp:delete' todo_item.id %}" type="submit">
                                <i class="material-icons">clear</i></a>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <form class="col s12" action="{% url 'todoapp:create' %}" method="post">
                {% csrf_token %}
                <div class="add_task">
                    <div class="input-field col s5 m7">
                        <textarea id="new_task" name="new_task" type="text" class="materialize-textarea"
                            required></textarea>
                        <label for="new_task">New Task </label>
                    </div>
                    <div class="input-field col s5 m4">
                        <select name="priority" required>
                            <option value="" disabled selected>Select a Priority</option>
                            {% for priority in priorities %}
                            <option value="{{ priority.id}}">{{ priority.name }}</option>
                            {% endfor %}
                        </select>
                        <label>Priority</label>
                    </div>
                    <button class="btn waves-effect waves-light col s2 m1" type="submit">Add Task
                    </button>
                </div>
            </form>

            <table class="completed_table highlight col s12">
                <thead>
                    <tr class="tr_headers">
                        <th>Completed Tasks:</th>
                        <th class="th_actions">Actions:</th>
                    </tr>
                </thead>
                <tbody>
                    {% for todo_item in todo_items %}
                    <tr>
                        {% if todo_item.completed_date != null %}
                        <td class="completed_td">{{ todo_item.text }}</td>
                        <td class="table_buttons">
                            <a class="waves-effect waves-light btn" href="{% url 'todoapp:complete' todo_item.id %}"
                                type="submit">
                                <i class="material-icons">undo</i></a>
                            <a class="waves-effect waves-light btn red lighten-1"
                                href="{% url 'todoapp:delete' todo_item.id %}" type="submit">
                                <i class="material-icons">clear</i></a>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>

    <footer style="text-align: center;">&copy; Class Eagle 2021</footer>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript">

        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('select');
            var instances = M.FormSelect.init(elems, {});
        });

    </script>
</body>

</html>