<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <style>
        img {
            width: 300px;
        }

        button {
            margin-top: 10px;
        }

    </style>
</head>

<body>
    <div class="container">
        <div class="center">
            <h1> Caturday Everyday! </h1>
        </div>
        <form class="row" action="{% url 'caturdayapp:index' %}" method="post">
            {% csrf_token %}
            <div class="input-field col s6">
                <select name="category_id" required>
                    <option value="" {% if category_id == '' %}selected{% endif %} disabled>Choose your option</option>
                    {% for category in categories %}
                    <option {% if category_id == category.id %}selected{% endif %} value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
                <label>Cat-egories</label>
            </div>
            <button class="btn waves-effect waves-light col s6" type="submit" name="action">Submit</button>
        </form>
        <div class="center">
            <img src='{{ cat_image }}'>
        </div>
    </div>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('select');
            var instances = M.FormSelect.init(elems, {});
        });
    </script>
</body>

</html>